.designhero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 320px;
  background-color: var(--clr-primary-peach);
  color: var(--clr-primary-white);
  text-align: center;
  background-image: url(../../assets/web-design/desktop/bg-pattern-intro-web.svg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: auto 180%;
}

.designhero__title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.designhero__text {
  font-size: 0.9375rem;
  line-height: 25px;
  margin-bottom: 1.5rem;
  padding: 0 1.5rem;
}

@media (min-width: 768px) {
  .designhero__container {
    height: 252px;
    background-size: auto 225%;
    background-position: 50px;
    margin: 0 40px;
    border-radius: 15px;
  }

  .designhero__title {
    font-size: 3rem;
    line-height: 48px;
    margin-bottom: 1.5rem;
  }

  .designhero__text {
    font-size: 1rem;
    line-height: 26px;
    width: 450px;
  }
}

@media (min-width: 1000px) {
  .designhero__container {
    max-width: 1111px;
    margin: 0 auto;
    background-position: right;
  }
}
