.about__hero {
  text-align: center;
}

.hero__primary {
  background-color: var(--clr-primary-peach);
  color: var(--clr-primary-white);
}

.hero__accent {
  background-color: #fdf3f0;
}

.about__hero__container {
  display: flex;
  flex-direction: column;
}

.about__heroimg {
  display: block;
  width: 100%;
}

.about__heroimg__wrapper {
  height: 375px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about__img {
  background-image: url(../../assets/about/mobile/image-about-hero.jpg);
}

.about__img img {
  display: none;
}

.world__class__img {
  background-image: url(../../assets/about/mobile/image-world-class-talent.jpg);
}

.world__class__img img {
  display: none;
}

.real__deal__img {
  background-image: url(../../assets/about/mobile/image-real-deal.jpg);
}

.real__deal__img img {
  display: none;
}

.about__hero__text__container {
  background-image: url(../../assets/shared/desktop/bg-pattern-three-circles.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}

.about__hero__text__wrapper {
  padding: 5rem 2rem;
}

.about__hero__text__title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.title__accent {
  color: var(--clr-primary-peach);
}

.desc__accent {
  color: var(--clr-accent-dark-grey);
}

.about__hero__text__desc {
  font-size: 0.9375rem;
  line-height: 25px;
}

.text__uppercase {
  text-transform: uppercase;
}

.mb-7 {
  margin-bottom: 7.5rem;
}

@media (min-width: 768px) {
  .hero__primary,
  .hero__accent {
    margin: 0 40px;
    border-radius: 15px;
    border-top-right-radius: 15px;
  }

  .hero__primary {
    margin-bottom: 7.5rem;
  }

  .about__img {
    background-image: url(../../assets/about/tablet/image-about-hero.jpg);
  }

  .about__img img {
    display: none;
  }

  .world__class__img {
    background-image: url(../../assets/about/tablet/image-world-class-talent.jpg);
  }

  .world__class__img img {
    display: none;
  }

  .real__deal__img {
    background-image: url(../../assets/about/tablet/image-real-deal.jpg);
  }

  .real__deal__img img {
    display: none;
  }

  .about__hero__text__wrapper {
    padding: 4rem 3.625rem;
  }

  .about__hero__text__title {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .about__hero__text__desc {
    font-size: 1rem;
    line-height: 26px;
  }

  .about__heroimg__wrapper {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
}

@media (min-width: 1000px) {
  .about__hero__container {
    flex-direction: row;
    align-items: center;
  }

  .flex__reverse {
    flex-direction: row-reverse;
  }

  .about__hero {
    max-width: 1111px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }

  .about__hero:last-child {
    margin-top: 10rem;
  }

  .about__hero:first-child {
    margin-bottom: 10rem;
  }

  .about__hero img {
    display: block;
  }

  .about__img {
    height: 100%;
  }

  .about__img img {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .about__heroimg__wrapper {
    border-radius: 18px;
  }

  .world__class__img {
    height: 100%;
  }

  .world__class__img img {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  .real__deal__img {
    height: 100%;
  }

  .real__deal__img img {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .mb-7 {
    margin-bottom: 0;
  }

  .companydesc__wrapper {
    justify-content: space-between;
    max-width: 1111px;
    margin: 0 auto;
  }
}
