.designcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: #fdf3f0;
  width: 100%;
  text-align: center;
  margin-bottom: 2.5rem;
}

.designcard__img__wrapper {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.designcard__img {
  display: block;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.designcard__info__wrapper {
  padding: 2rem 1.875rem;
}

.designcard__title {
  font-size: 1.25rem;
  color: var(--clr-primary-peach);
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.designcard__text {
  color: var(--clr-accent-dark-grey);
  line-height: 26px;
}

.designcard ~ .card:last-of-type {
  margin-bottom: 0;
}

.designcard:last-of-type {
  margin-bottom: 6rem;
}

@media screen and (min-width: 768px) {
  .designcard {
    flex-direction: row;
    width: 100%;
    margin-bottom: 2rem;
  }

  .designcard:last-of-type {
    margin-bottom: 7.5rem;
  }

  .designcard__img__wrapper {
    border-top-right-radius: 0;
    border-bottom-left-radius: 20px;
  }

  .designcard__img {
    border-top-right-radius: 0;
    border-bottom-left-radius: 15px;
    width: 338px;
  }
}

@media screen and (min-width: 1000px) {
  .design__card__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.875rem;
    height: 640px;
    margin-bottom: 9.5rem;
  }

  .web__design {
    height: 100%;
    width: 45vw;
    max-width: 541px;
  }

  .app__design {
    height: 48%;
    width: 45vw;
    max-width: 541px;
  }

  .graphic__design {
    height: 48%;
    width: 45vw;
    max-width: 541px;
  }
}
