footer {
  background-color: var(--clr-primary-black);
  position: relative;
}

.footer__wrapper {
  padding: 15.8125rem 1.5rem 4rem;
}

.footer__wrapper__contact {
  padding: 4rem 1.5rem;
}

.footer__logo__wrapper {
  border-bottom: 1px solid var(--clr-accent-dark-grey);
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.footer__logo {
  width: 202px;
}

.footer__page__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__link {
  color: var(--clr-primary-white);
  font-size: 0.875rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__link:first-child {
  margin-top: 2rem;
}

.footer__link:not(:last-child) {
  margin-bottom: 2rem;
}

.footer__link:last-child {
  margin-bottom: 2.5rem;
}

.footer__bottom__container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer__bottom__col:not(:last-child) {
  margin-bottom: 2.5rem;
}

.footer__text {
  color: var(--clr-primary-white);
  opacity: 0.5;
  line-height: 1.625rem;
}

.bold {
  font-weight: 700;
}

.social__icon {
  transition: opacity 0.3s ease-in-out;
}

.social__icon:not(:first-child) {
  margin-left: 1rem;
}

.social__icon:hover {
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  .footer__wrapper {
    padding: 10.375rem 2.5rem 5rem;
  }

  .footer__wrapper__contact {
    padding: 5rem 2.5rem;
  }

  .footer__top__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--clr-accent-dark-grey);
  }

  .footer__page__links {
    flex-direction: row;
    align-items: flex-start;
    margin: 0;
  }

  .footer__link:first-child {
    margin-top: 0;
  }

  .footer__link:not(:last-child) {
    margin-bottom: 0;
    margin-right: 2.625rem;
  }

  .footer__logo__wrapper {
    border: none;
  }

  .footer__bottom__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin-top: 1.875rem;
  }

  .footer__text {
    margin-bottom: 0.25rem;
  }
}

@media screen and (min-width: 1000px) {
  .footer__wrapper {
    padding: 9rem 0 4.5rem;
    width: 94%;
    max-width: 1111px;
    margin: 0 auto;
  }
}
