a {
  text-decoration: none;
}

.btn {
  border: none;
  border-radius: 8px;
  padding: 1rem 1.5rem;
  font-weight: 500;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Jost', sans-serif;
  color: var(--clr-primary-black);
  z-index: 22;
}

.btn:hover {
  cursor: pointer;
}

.btn__primary {
  background-color: var(--clr-primary-white);
  transition: all 0.3s ease-in-out;
}

.btn__primary:hover {
  background-color: var(--clr-accent-peach);
  color: var(--clr-primary-white);
}

.btn__accent {
  background-color: var(--clr-primary-peach);
  color: var(--clr-primary-white);
  transition: all 0.3s ease-in-out;
}

.btn__accent:hover {
  background-color: var(--clr-accent-peach);
}

.main {
  padding: 7.5rem 1.5rem 18.5rem;
}

.main__design {
  padding: 6.5rem 1.5rem 18.5rem;
}

.main__locations {
  padding-bottom: 18.5rem;
  max-width: 1111px;
  margin: 0 auto;
}

.main__contact {
  padding: 7.5rem 0;
}

.main__about {
  padding: 7.5rem 0 19.375rem 0;
}

@media screen and (min-width: 768px) {
  .main {
    padding: 7.5rem 2.5rem 20.6875rem;
  }

  .main__design {
    padding: 7.5rem 2.5rem 24rem;
  }

  .main__locations {
    padding: 0 2.5rem 20.6875rem;
  }
}

@media screen and (min-width: 1000px) {
  .desktop__padding {
    padding: 0 2rem;
  }

  .main {
    padding: 10rem 0 25rem;
  }

  .main__about {
    padding: 10rem 0 23.75rem;
  }

  .main__locations {
    padding: 0 0 23.75rem;
  }
}
