.card {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  color: var(--clr-primary-white);
  position: relative;
  z-index: 1;
  margin-bottom: 1.5rem;
}

.design__card__wrapper {
  margin-bottom: 7.5rem;
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: -1;
  border-radius: 15px;
  transition: background-color 0.3s ease-in-out;
}

.card:hover::before {
  background-color: var(--clr-primary-peach);
  opacity: 0.8;
}

.card .design__card__title,
.card .design__card__link {
  position: relative;
  z-index: 1;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.web__design {
  background-image: url('../../assets/home/mobile/image-web-design.jpg');
}

.app__design {
  background-image: url('../../assets/home/mobile/image-app-design.jpg');
  margin-top: 1.5rem;
}

.graphic__design {
  background-image: url('../../assets/home/mobile/image-graphic-design.jpg');
}

.accent__color {
  color: var(--clr-accent-peach);
  margin-left: 1rem;
}

.design__card__title {
  font-size: 1.75rem;
  font-weight: 500;
  letter-spacing: 1.4px;
  margin-bottom: 0.75rem;
}

.design__card__link {
  font-size: 0.9375rem;
  font-weight: 500;
  letter-spacing: 5px;
}

@media (min-width: 768px) {
  .card {
    height: 200px;
  }

  .web__design {
    background-image: url(../../assets/home/tablet/image-web-design.jpg);
  }

  .app__design {
    background-image: url(../../assets/home/tablet/image-app-design.jpg);
  }

  .graphic__design {
    background-image: url(../../assets/home/tablet/image-graphic-design.jpg);
  }

  .design__card__title {
    font-size: 2.25rem;
    letter-spacing: 2px;
    margin-bottom: 1.5rem;
  }

  .design__card__link {
    font-size: 0.9375rem;
    letter-spacing: 5px;
  }
}

@media screen and (min-width: 1000px) {
  .web__design {
    background-image: url(../../assets/home/desktop/image-web-design-large.jpg);
  }

  .app__design {
    background-image: url(../../assets/home/desktop/image-app-design.jpg);
    margin-top: 0;
  }

  .graphic__design {
    background-image: url(../../assets/home/desktop/image-graphic-design.jpg);
  }
}
